

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>">
  <head>
    <% @direction = (rtl?) ? 'rtl/' : '' %>
    <title><%= @title %></title>
    <% unless current_school_detail.new_record? %>
      <link rel="icon" href="<%=current_school_detail.logo.url%>" type="<%=current_school_detail.logo.content_type%>" />
      <link rel="shortcut icon" href="<%=current_school_detail.logo.url%>" type="<%=current_school_detail.logo.content_type%>" />
    <% end %>
    <%= stylesheet_link_tag(*get_stylesheets) %>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
